body{
    background-color: #FFEFD5 ;
    color: #8b4513;
    margin-left: 8%;
    margin-right: 8%;
}

a, a:hover{
    color: #8b4513;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: left;
}

th{
    border: 1px black solid;
}

.jobb{
    width: 120px;
    text-align: center;
}

@media (max-width: 614px){
    h1{
        font-size: 30px;
    }
}

@media (max-width: 444px){
    h1{
        font-size: 20px;
    }
}

#fejlec{
    background-image: url(../images/szines.png);
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    padding-top: 20px;
    color: rgb(0, 99, 0);
}

#zold{
    background-color: rgba(0, 128, 0, 0.5);
}
#sarga{
    background-color: rgba(255, 255, 0, 0.5);
}
#piros{
    background-color: rgba(255, 0, 0, 0.5);
}
#lila{
    background-color: rgba(128, 0, 128, 0.5);
}

li{
    list-style: url(../images/chili-pepper-icon.gif);
    border: rgba(0, 132, 255, 0.589) 2px solid;
    width: 200px;
    margin: 10px;
    background-color: #f8f8f8;
}

#menu{
  float: right;
}
#fokeret{
  float: left;
}

#menu__toggle{
    visibility: hidden;
}

@media (max-width: 768px){
    #menu__toggle {
        opacity: 0;
      }
      #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
      }
      #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
      }
      .menu__btn {
        position: fixed;
        top: 20px;
        left: 20px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 20px;
        height: 100%;
        margin: 0;
        padding: 80px 0;
        background-color: #FFEFD5;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
      }
      .menu__item {
        
        display: block;
        padding: 24px 24px;
        color: #333;
        font-size: 15px;
        font-weight: 100px;
        text-decoration: none;
        transition-duration: .25s;
        
      }
      .menu__item:hover {
        background-color: #CFD8DC;
        text-decoration: none;
      }

      li{
        list-style: none;
        width: 150px;
        background-color: #ffecce;
        border: black solid 2px;
        color: black;
        
      }

      #fokeret{
        z-index: -1;
      }
}
