body{
    background-color: #FFEFD5 ;
    color: #8b4513;
    margin-left: 8%;
    margin-right: 8%;
}

a, a:hover{
    color: #8b4513;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: left;
}

th{
    border: 1px black solid;
}

.jobb{
    width: 120px;
    text-align: center;
}

@media (max-width: 614px){
    h1{
        font-size: 30px;
    }
}

@media (max-width: 444px){
    h1{
        font-size: 20px;
    }
}

#fejlec{
    background-image: url(../images/szines.png);
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    padding-top: 20px;
    color: rgb(0, 99, 0);
}

#zold{
    background-color: rgba(0, 128, 0, 0.5);
}
#sarga{
    background-color: rgba(255, 255, 0, 0.5);
}
#piros{
    background-color: rgba(255, 0, 0, 0.5);
}
#lila{
    background-color: rgba(128, 0, 128, 0.5);
}

li{
    list-style: url(../images/chili-pepper-icon.gif);
    border: rgba(0, 132, 255, 0.589) 2px solid;
    width: 200px;
    margin: 10px;
    background-color: #f8f8f8;
}


@media (max-width: 768px){
    .mobile-container {
        max-width: 480px;
        margin: auto;
        background-color: #555;
        height: 500px;
        color: white;
        border-radius: 10px;
      }
      
      .topnav {
        overflow: hidden;
        background-color: #333;
        position: relative;
      }
      
      .topnav #myLinks {
        display: none;
      }
      
      .topnav li a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;
        display: block;
      }
      
      .topnav li a.icon {
        background: black;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      
      .topnav li:hover {
        background-color: #ddd;
        color: black;
      }
      
      .active {
        background-color: #04AA6D;
        color: white;
      }

      .topnav p{
        visibility: hidden;
      }
}
