body{
    background-color: #FFEFD5 ;
    color: #8b4513;
    margin-left: 10%;
    margin-right: 10%;
}

a, a:hover{
    color: #8b4513;
}

table{
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    text-align: left;
}

th{
    border: 1px black solid;
}

.jobb{
    width: 120px;
    text-align: center;
}

@media screen and (max-width: 600px){
    h1{
      size: 100px;  
    }
}

#fejlec{
    background-image: url(szines.png);
    height: 120px;
    background-repeat: no-repeat;
    background-size: 100%;
}

h1{
    padding-top: 20px;
    color: rgb(0, 99, 0);
}

#zold{
    background-color: rgba(0, 128, 0, 0.5);
}
#sarga{
    background-color: rgba(255, 255, 0, 0.5);
}
#piros{
    background-color: rgba(255, 0, 0, 0.5);
}
#lila{
    background-color: rgba(128, 0, 128, 0.5);
}

li{
    list-style: url(chili-pepper-icon.gif);
    border: rgba(0, 132, 255, 0.589) 2px solid;
    width: 200px;
    margin: 10px;
    background-color: #f8f8f8;
}